.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 20%;
  justify-content: center;
}
.first {
  background-color: blue;
  height: 40vh;
  background-size: cover;
  margin-right: 5%;
  color: aliceblue;
}
.second {
  margin-top: 10px;
  background-color: aliceblue;
  height: 40vh;
  border-top-left-radius: 30px;
  color: black;
  padding: 20px;
  padding-bottom: 20px;
}
li {
  margin-top: 10px;
}
.you {
  margin-top: 3%;
}
.prep {
  margin-left: 20px;
}
